<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>102990807718-p4bb81t13b8aesrkrusckg0ljjv3qlft.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102990807718-p4bb81t13b8aesrkrusckg0ljjv3qlft</string>
	<key>API_KEY</key>
	<string>AIzaSyDs6oK3_6ODdNHVJ0i1tHI3wHez3MWMgHA</string>
	<key>GCM_SENDER_ID</key>
	<string>102990807718</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kassem-abboud.zawtar</string>
	<key>PROJECT_ID</key>
	<string>zawtar-ae0f1</string>
	<key>STORAGE_BUCKET</key>
	<string>zawtar-ae0f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102990807718:ios:c28edfbab75b6724</string>
	<key>DATABASE_URL</key>
	<string>https://zawtar-ae0f1.firebaseio.com</string>
</dict>
</plist>