<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>193746485981-o33egaqms6dpg5r8gdorp0dt0qio6jjg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193746485981-o33egaqms6dpg5r8gdorp0dt0qio6jjg</string>
	<key>API_KEY</key>
	<string>AIzaSyDnQ-8QwmIqwV-TuvcY4Xtq4WgZ8iOqnEA</string>
	<key>GCM_SENDER_ID</key>
	<string>193746485981</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kassem-abboud.zawtar</string>
	<key>PROJECT_ID</key>
	<string>zawtar-99262</string>
	<key>STORAGE_BUCKET</key>
	<string>zawtar-99262.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:193746485981:ios:c28edfbab75b6724</string>
	<key>DATABASE_URL</key>
	<string>https://zawtar-99262.firebaseio.com</string>
</dict>
</plist>